{% extends "layout.html" %}
{% block content %}
<div class='container-fluid'>
  <div class="row">
    <div class='container-fluid'>
      <h2>Australian Football League (AFL) API</h2>
    </div>
  </div>
  <div class="row">
    <div class='container-fluid'>
      <div class="list-group">
        <a href="https://github.com/sglambert/australian-football-league-api" class="list-group-item list-group-item-action">Source Code</a>
        <a href="/api/docs" class="list-group-item list-group-item-action">Documentation</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='container-fluid'>
      <h4>Data Sources</h4>
    </div>
  </div>
  <div class="row">
    <div class='container-fluid'>
      <div class="list-group">
        <a href="https://www.afl.com.au/" class="list-group-item list-group-item-action">AFL</a>
        <a href="https://afltables.com/afl/afl_index.html" class="list-group-item list-group-item-action">afltables</a>
        <a href="https://github.com/jimmyday12/fitzRoy" class="list-group-item list-group-item-action">fitzRoy API</a>
        <a href="https://www.footywire.com/" class="list-group-item list-group-item-action">footywire</a>
        <a href="https://twitter.com/fryzigg?lang=en" class="list-group-item list-group-item-action">fryzigg</a>
        <a href="https://api.squiggle.com.au/" class="list-group-item list-group-item-action">Squiggle API</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
